.ordergridContainer {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 40px auto;
  }
  .mainCon{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-decoration: none;

  }
  
  .Cbtn{
    font: 500 15px "Open Sans";
    color: #606060;
    background-color: #ece9e9;
    width: 120px;
    text-transform: capitalize;
    height: 38px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40px;
    border: none;
  }

  .Cbtn:hover{
    background-color: #5861AE;
    color: #ffffff;
  }

#pls-create-order{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #5861AE;
    font: 700 15px "Open Sans";
  }