.gorderPrvSummary {
  overflow: auto;
  color: blue;
  /* background-color: rgb(77, 77, 212); */
  position: fixed;
  top: 0px;
  right: 0px;
  width: 850px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height:933px ; */
  /* height: ; */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.body-3{
  height: 60px;
}
td{
  height: 50px;
  border-bottom: 2px solid #ece9e9;
  padding-left: 5px;
}

.thSumry{
  background-color: #F4F9FF;
  color: #1B2734;
  font-size: 16px;
  font-weight: 700;
}

.sum-table{
  width: 100%;
  border-collapse: collapse;
  /* border-bottom: 1px solid black; */
}

select{
  width:150px;
  margin-left: -90px;
  /* background-color:#f4f4f4; */
  /* border-radius: 5px; */
  border: 0px solid ;
  border-bottom: 1px solid black
}

.gHeader1Osum {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #5861AE;
  color: #ffffff;
  font: 600 17px 'Open Sans', sans-serif;
  align-items: center;
  padding-left: 22px;
  padding-right: 22px;
 /* height: 40px;
  color: white;
  padding-left: 18px;
  padding-top: 21px; */
}

.gHeader1Osum> div> button{
  /* margin-top: 10px; */
  font: 900 25px Open Sans;
  cursor: pointer;
}
.gHeader1Osum> div> button:hover{
  font: 900 32px Open Sans;
}

.gHeader1Osum span{
  margin-top: 10px;
  font: normal normal 600 22px/20px Open Sans;
}
/* .gbuttonOsumcloseCont {
  float: right;
} */
.gbuttonOsumclose {
  background-color: #5861ae;
  border: none;
  color: #f4f9ff;
  font: 500 24px 'Open Sans', sans-serif;
  cursor: pointer;
}

.gbuttonOsumclose:hover{
  font: 800 32px 'Open Sans', 'sans-serif';
}

.goderSummaryheader2 {
  height: 100px;
  display: flex;
  padding-top: 20px;
  background-color: #f4f9ff;
  justify-content: space-evenly;
  font-size: 18px;
}

.goderSummaryheader2 > select{
  margin-top: 5px;
  outline: none;
  height: 25px;
  background: transparent;
  font-size: 15px;
  border-bottom: 2px solid #3E3F40;
  color: #3E3F40;
  opacity: 0.13;
}

.gorderSummaryHeader3 {
  padding: 1em;
  color: #3B3737;
}

.gordersumTable {
  padding: 1em 2em;
}

.GeditedRow {
  background-color: #5861ae;
  color: white;
}
.GprevsumaddressCont {
  display: flex;
  gap: 2em;
}
.Gprevsumaddressmain {
  color: #3e3f40;
  width: 236px;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0.16px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #0c86dd;
  border-radius: 4px;
  margin-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.3em;
  padding-bottom: 0.3em;
}
.Gprevsumaddress {
  color: #3e3f40;
  width: 236px;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0.16px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #48484f;
  border-radius: 4px;
  margin-top: 1em;
  padding-left: 0.5em;
}
.homeclassse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tickimage {
  /* display: inline-block; */
  float: right;
  width: 1em;
  height: 1em;
}
.GaddNewAddress {
  margin-top: 2em;
  padding-left: 0.5em;
  color: #5861ae;
}

.GoviConfirmButton {
  margin-top: 235px;
  background-color: #f4f4f4;
  color: white;
  text-align: right;;
  height: 70px;
}
.GbuttonforOrder {
  background-color: #5861ae;
  color: #FFFFFF;
  margin-right: 35px;
  margin-top: 15px;
  border-radius: 0.2em;
  border: none;
  height: 42px;
  width: 150px;
  font: 500 16px 'Open Sans';
  letter-spacing: 0.16px;
  opacity: 1;
  cursor: pointer;
}

.GbuttonforOrder:hover{
  background-color: #010845;
}